*.[oa]
*.l[oa]
.deps
.libs
Makefile.in

src/mtag
tests/reader
libmtag.pc

INSTALL
Makefile
aclocal.m4
autom4te.cache
autoregen.sh
config.*
configure
libtool
stamp-h1
stamp-h.in

build-aux/compile
build-aux/depcomp
build-aux/install-sh
build-aux/ltmain.sh
build-aux/missing

m4/libtool.m4
m4/lt*.m4
